.academy-logo {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.academy-logo__link-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
  text-decoration: none;
  color: inherit;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}

.academy-logo__link-logo:hover .academy-logo__icon-path {
  fill: @green;
}

.academy-logo__link-logo:active .academy-logo__icon-path {
  fill: @green;
  opacity: 0.3;
}
