.box {
  width: 100px;
  border: 1px solid @gray;
  padding: 12px 11px 0;
  display: inline-block;

  @media (min-width: @tablet-width) {
    width: 110px;
    padding: 15px 26px 0;
  }
}

.box__text {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 5px;
  }
}

.box__text-bottom {
  margin: 0 auto;
  width: 63px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 1;
  display: block;
  position: relative;
  top: 10px;
  text-align: center;
  background-color: @background-gray;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    background-color: @white;
    width: 130px;
    top: 5px;
    right: 10px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    background-color: @light-gray;
  }
}
