.cat-energy-logo {
  padding-bottom: 27px;
  border-bottom: 1px solid @border-gray;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
    align-self: center;
  }
}

.cat-energy-logo__link {
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}
