.example {
  background: @background-gray;
}

.example__wrapper {
  .center();
  padding: 27px 20px 31px;
}

.example__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;
  color: @black;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  width: 280px;
}

.example__box-first {
  margin-right: 28px;
}

.example__expenses {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  line-height: 1.43;
  margin-bottom: 42px;
  color: @black;
  text-transform: uppercase;
  text-align: center;
}
