.example {
  background-color: @background-gray;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @light-gray;
  }
}

.example__wrapper {
  .center();
  padding: 27px 20px 31px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 43px 30px 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 70px 110px 68px;
    display: grid;
    grid-template-columns: 570px 650px;
    grid-template-rows: 165px 142px 27px;
    position: relative;
  }
}

.example__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  width: 280px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    width: 708px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    margin-bottom: 76px;
    top: -137px;
    left: 110px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 438px;
    margin-right: 134px;
    margin-bottom: 69px;
    grid-column: ~"1/2";
    grid-row: ~"1/2";
  }
}

.example__box-wrapper {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 255px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
    grid-column: ~"1/2";
    grid-row: ~"2/3";
  }
}

.example__box-first {
  margin-right: 28px;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.example__slider {
  @media (min-width: @desktop-width) {
    grid-column: ~"2/3";
    grid-row: ~"1/-1";
  }
}
