.explanation__wrapper {
  .center();
  padding: 27px 20px 42px;

  @media (min-width: @tablet-width) {
    width: 629px;
    padding: 0 109px 47px 30px;
    border-bottom: 1px solid @border-light-gray;
  }

  @media (min-width: @desktop-width) {
    width: 1224px;
    padding: 0 106px 0 110px;
    border-bottom: none;
  }
}

.explanation__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 38px;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 1;
  }
}

.explanation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    counter-reset: li;
  }
}

.explanation__item {
  padding: 3px 0 3px 75px;
  margin: 0;
  margin-bottom: 20px;
  width: 200px;
  background-repeat: no-repeat;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 250px;
    padding: 111px 0 57px;
    margin: 0 129px 37px 0;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      transform: translate(60%, -53%);
      font-size: 280px;
      line-height: 1;
      color: @light-gray;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: 74px;

    &:nth-child(even) {
      margin-right: 74px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &--healthy {
    background-image: url("../img/list/leaf.svg");
  }

  &--powder {
    background-image: url("../img/list/powder.svg");
  }

  &--eating {
    background-image: url("../img/list/tableware.svg");
  }

  &--fast {
    background-image: url("../img/list/clock.svg");
  }
}

.explanation__item-text {
  margin: 0;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;
  }
}
