.extra-product {
  padding: 13px 0 19px;
  border-top: 1px solid @gray;

  &:last-child {
    border-bottom: 1px solid @gray;
  }

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px;
    border: 1px solid @gray;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 0 17px;
    border: none;
    border-top: 1px solid @gray;
    align-items: center;
    width: 895px;
  }
}

.extra-product__link-title {
  text-decoration: none;
  color: @font-dark-gray;
}

.extra-product__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: 170px;
  }
}

.extra-product__info {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: 288px;
    display: flex;
    justify-content: space-between;
  }
}

.extra-product__info-quantity {
  @media (min-width: @tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.extra-product__button {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: @tablet-width) {
    padding: 7px 20px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 22px;
    width: 200px;
  }
}
