.extra-products {
  overflow: hidden;
}

.extra-products__wrapper {
  .center();
  padding: 24px 20px 33px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px 75px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px 86px;
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
  }
}

.extra-products__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: @black;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
    font-size: 36px;
    padding-left: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    padding-left: 0;
  }
}

.extra-products__title-text {
  position: relative;
}

.extra-products__title-text::before,
.extra-products__title-text::after {
  content: "";
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100vw;
  height: 2px;
  background-color: @green;
}

.extra-products__title-text::before {
  right: 100%;
  margin-right: 22px;

  @media (min-width: @tablet-width) {
    right: 100%;
    margin-right: 36px;
  }
}

.extra-products__title-text::after {
  left: 100%;
  margin-left: 22px;

  @media (min-width: @tablet-width) {
    left: 100%;
    margin-left: 36px;
  }
}
