.form__wrapper {
  @media (min-width: @desktop-width) {
    padding: 66px 110px 69px;
    display: flex;
    flex-wrap: wrap;
  }
}

.form__field-row {
  margin: 0;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: inherit;
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.48;
  }
}

.form__textfield-label {
  padding: 14px 0;
  margin-right: 14px;
  height: 18px;

  @media (min-width: @tablet-width) {
    height: 30px;
    padding: 11px 0;
  }
}

.form__textfield {
  padding: 5px 13px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid @textfield-gray;
  height: 33px;
  flex: 1;
  outline: none;

  &:hover {
    border: 1px solid @gray;
  }

  &:focus {
    border: 2px solid @font-gray;
    height: 31px;
  }

  &:invalid {
    border: 2px solid @red;
    height: 31px;
  }


  @media (min-width: @tablet-width) {
    padding: 11px 20px;
    height: 28px;

    &:focus {
      height: 26px;
    }

    &:invalid {
      height: 26px;
    }
  }
}

.form__icon {
  color: @font-dark-gray;
}

.form__textfield--with-icon {
  padding-right: 45px;

  &:focus + .form__icon {
    color: @green;
  }

  &:invalid + .form__icon {
    color: @red;
  }
}

.form__radio-label {
  position: relative;
  display: block;
  padding: 7px 0 8px 45px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__radio:hover + .form__radio-label::before {
  border: 1px solid @grey-hover;
}

.form__radio:disabled + .form__radio-label {
  opacity: 0.3;
}

.form__radio:checked + .form__radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
    background-size: 20px 20px;
  }
}

.form__radio + .form__radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid @gray;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.form__radio:focus + .form__radio-label::before {
  outline: 1px auto @black;
}

.form__legend-container {
  min-width: 80%;
  text-align: left;
}

.form__legend {
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.08;
  color: @black;
  text-align: left;
  text-transform: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.form__legend-title {
  position: relative;
}

.form__legend-title::before,
.form__legend-title::after {
  content: "";
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  width: 100vw;
  height: 2px;
  background-color: @green;

  @media (min-width: @tablet-width) {
    top: 60%;
  }
}

.form__legend-title::before {
  right: 100%;
  margin-right: 22px;

  @media (min-width: @tablet-width) {
    margin-right: 40px;
  }
}

.form__legend-title::after {
  left: 100%;
  margin-left: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 40px;
  }
}

.form__message-label {
  margin-bottom: 37px;
  display: flex;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 76px;
  }
}

.form__message-field {
  width: 252px;
  height: 130px;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  border: 1px solid @textfield-gray;
  padding: 9px 14px;
  display: block;

  @media (min-width: @tablet-width) {
    padding: 10px 18px;
    width: 593px;
    height: 152px;
  }

  @media (min-width: @desktop-width) {
    width: 1180px;
  }
}

.form__checkbox-label {
  position: relative;
  padding: 7px 0 8px 46px;
  display: block;

  @media (min-width: @tablet-width) {
    padding-left: 59px;
  }
}

.form__checkbox + .form__checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border: 1px solid @gray;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.form__checkbox:hover + .form__checkbox-label::before {
  border: 1px solid @grey-hover;
}

.form__checkbox:disabled + .form__checkbox-label {
  opacity: 0.3;
}

.form__checkbox:checked + .form__checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid @gray;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
    background-size: 27px 27px;
  }
}

.form__checkbox:focus + .form__checkbox-label::before {
  outline: 1px auto @black;
}

.form__button {
  margin-bottom: 20px;
  width: 280px;
  padding: 12px 45px;

  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 12px 41px;
    margin-bottom: 0;
    margin-right: 62px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    padding: 13px 41px;
    margin-right: 81px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 1.14;
  font-family: "Arial", sans-serif;
  text-transform: none;
  margin: 0;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 6px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
