.gift__wrapper {
  .center();
  padding: 0 20px 36px;
}

.gift__background {
  min-height: 289px;
  background-image: url("../img/gift.svg"), url("../img/back-cat-catalog.png");
  background-position: top 65px center, center;
  background-color: @green;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 186px 20px 20px;
}

.gift__text {
  font-size: 16px;
  line-height: 1.25;
  color: @white;
  text-align: center;
  width: 165px;
  margin: 0 auto;
}
