.invitation__wrapper {
  .center();
}

.invitation__text {
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
  margin: 22px 0;
  color: #000000;
  width: 122px;
  text-transform: uppercase;
  font-weight: 400;
}

.invitation__address {
  padding: 5px;
  line-height: 20px;
  margin: 22px 0;
  width: 140px;
  font-family: "Arial", "Oswald", sans-serif;
}
