.main-nav__list {
  list-style: none;
  padding: 0;
}

.main-nav__button {
  background-color: inherit;
  border: none;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
}

.main-nav__button--open {
  background-image: url("../img/header-button.svg");
}

.main-nav__button--close {
  background-image: url("../img/close.svg");
}
