.more__wrapper {
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: top 25px center;
  padding: 78px 20px 25px;
  border-top: 1px solid @catalog-card-grey;
  border-bottom: 1px solid @catalog-card-grey;

  @media (min-width: @tablet-width) {
    padding: 161px 37px 38px;
    border: 2px solid @light-gray;
    width: 246px;
    margin: 0;
    margin-top: 110px;
  }

  @media (min-width: @desktop-width) {
    padding: 160px 38px 41px;
    width: 165px;
  }
}

.more__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  color: @dark-gray;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.1;
    width: 140px;
    margin: 0 auto 33px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.more__text {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.12;
    width: 180px;
    margin: 0 auto 87px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 87px;
  }
}

.more__button {
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  background-color: @light-gray;

  &:hover {
    background-color: @catalog-card-grey;
  }

  &:active {
    background-color: @catalog-card-grey;
    color: fade(@font-gray, 30%);
  }

  @media (min-width: @desktop-width) {
    padding: 10px 34px;
    width: 101px;
  }
}
