.more__wrapper {
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: top 25px center;
  .center();
  padding: 78px 20px 25px;
  border-top: 1px solid @catalog-card-grey;
  border-bottom: 1px solid @catalog-card-grey;
}

.more__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  color: @dark-gray;
  text-align: center;
}

.more__text {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}

.more__button {
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  background-color: @light-gray;
}
