.owner-data {
  padding: 26px 20px 23px;
}

.owner-data__legend {
  width: 187px;
  padding: 26px 0 0;
  margin-bottom: 9px;
}

.owner-data__item {
  position: relative;
  width: 280px;
}

.owner-data__icon {
  position: absolute;
  top: 15px;
  right: 18px;
}
