.page-form__title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  .center();
  padding-top: 27px;
  padding-bottom: 27px;
}

.page-form__text {
  color: #000000;
  text-transform: uppercase;
  .center();
  padding-top: 10px;
  padding-bottom: 15px;
}
