.page-catalog__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  .center();
  padding: 27px 20px 41px;
  color: @black;
}
