.plan {
  padding: 22px 20px 19px;
  border-bottom: 1px solid @border-gray;

  @media (min-width: @tablet-width) {
    padding: 0 67px 75px 71px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 570px;
  }
}

.plan__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 25px 28px;
    border: 1px solid @textfield-gray;
  }
}

.plan__item {
  margin-bottom: 13px;
}

.plan__item:last-child {
  margin-bottom: 0;
}
