.promo__wrapper {
  min-height: 479px;
  position: relative;
  padding-bottom: 22px;
}

.promo__text-wrapper {
  background-color: @background-green;
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 302px;
  box-sizing: border-box;
  padding: 27px 20px;
}

.promo__title {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: @white;
  width: 255px;
  margin: 0 auto 25px;
}

.promo__text {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  color: @white;
  margin: 0 auto;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.promo__button {
  position: relative;
  top: 302px;
  font-size: inherit;
  line-height: inherit;
}

.promo__img {
  position: absolute;
  bottom: 65px;
}
