.promo__wrapper {
  min-height: 501px;
  position: relative;
  .center();
}

.promo__text-wrapper {
  background: #68b738d9;
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  min-height: 302px;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  width: 255px;
  text-align: center;
  padding: 5px;
  margin: 22px 0 15px;
}

.promo__text {
  color: #ffffff;
  padding: 5px;
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.promo__button {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 22px;
}

.promo__img {
  position: absolute;
  bottom: 65px;
}
