.slider__list {
  margin-bottom: 27px;
}

.slider__text {
  font-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: @black;
  text-transform: uppercase;
}

.slider__scale {
  position: relative;
  margin: 0 13px;
}

.slider__scale-line {
  height: 14px;
  width: 84px;
  border-radius: 6px;
  border: 1px solid @gray;
  background-color: @white;
}

.slider__toggle {
  position: absolute;
  top: 5px;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background-color: @green;
}
