.social__list {
  list-style: none;
  padding: 21px 0 16px;
  margin: 0;
  border-bottom: 1px solid @border-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
    min-width: 137px;
    justify-content: flex-end;
  }
}

.social__item {
  margin-right: 38px;

  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__button {
  color: @icon-gray;

  &:hover {
    color: @green;
  }

  &:active {
    color: @green;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: block;
    width: 100%;
    height: auto;
  }
}


.social__icon-vk {
  @media (min-width: @tablet-width) {
    width: 29px;
    height: 17px;
  }
}

.social__icon-ig {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon-fb {
  @media (min-width: @tablet-width) {
    width: 13px;
    height: 33px;
  }
}
