.social__list {
  list-style: none;
  padding: 25px 0;
  margin: 0;
  border-bottom: 1px solid @border-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}

.social__item {
  margin-right: 17px;

  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__button {
  @media (min-width: @tablet-width) {
    display: block;
    width: 100%;
    height: auto;
  }
}


.social__icon-vk {
  @media (min-width: @tablet-width) {
    width: 29px;
    height: 17px;
  }
}

.social__icon-ig {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon-fb {
  @media (min-width: @tablet-width) {
    width: 13px;
    height: 33px;
  }
}

.social__button:hover .social__icon-path {
  fill: @green;
}

.social__button:active .social__icon-path {
  fill: @green;
  opacity: 0.3;
}

.social__button:hover .social__icon-path-fb {
  stroke: @green;
}

.social__button:active .social__icon-path-fb {
  stroke: @green;
  opacity: 0.3;
}

.social__icon-path-fb {
  &:hover {
    stroke: @green;
  }

  &:active {
    stroke: @green;
    opacity: 0.3;
  }
}
